<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<body style="display: flex; flex-direction: column; height: 100%;">
    <main style="display: flex; flex-grow: 1; overflow: hidden;">
        <aside style="width: 250px; flex-shrink: 0; padding: 10px; overflow-y: hidden;">
            {% include explorer_sidebar.html %}
        </aside>
        <section style="flex-grow: 1; overflow-y: auto; padding: 10px;">
            {{ content }}
        </section>
    </main>
</body>

</html>